


<h2>Displaywithid</h2>

<div class="container">
    <form action="" method="post">
        <lable for="EmpId">Employee Id</lable>
        <input type="text" name="empId" />
        <br />
        <lable for="EmpName">Employee Name</lable>
        <input type="text" name="empName" />
        <br />
        <lable for="EmpEmail">Employee Email</lable>
        <input type="text" name="empEmail" />
        <br />
        <lable for="EmpSalary">Employee Salary</lable>
        <input type="text" name="empSalary" />
        <br />
        <lable for="Empjob">Employee Job</lable>
        <input type="text" name="empJob" />
        <br />
        <lable for="EmpDept">Employee Dept</lable>
        <input type="text" name="empDept" />
        <br />
        <input type="submit" value="Submit" />
    </form>
</div>